/* BASIC STYLES HERE */

body {
    height: 80vh;
    background-image: url(/assets/img/360_F_249687268_Yl4AswCdwBQS7NA6hczKq0pfnjQs02UP.jpg);
    background-size: cover;
}

.detail-picture {
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.chicken-details-card {
    min-height: 60vh;
    background-color: rgba(64, 64, 64, 0.581);
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 2em;
    font-weight: bolder;
}